<h1>Answer For Next Question</h1>

<%= render 'form', user: @user %>

<div style="float: left; width: 10%; padding-right: 40">
	<%= link_to 'Back', answers_path %>
	<%= link_to 'Next', new_answer_path %>
</div>

