<p><%= "Score" %></p>

<p>
	<strong>Total Number Of Questions:</strong>
</p>

<p>
	<strong>Correct Answers:</strong>
</p>

<p>
	<strong>Wrong Answers:</strong>
</p>

<p>
	<strong>Score</strong>
</p>