<h1 align="center">Answer</h1>

	<%= render 'form', answer: @answer %>

<div style="float: left; width: 10%; padding-right: 40">
	<%= link_to 'Back', answers_path %>
	<%= link_to 'Next', new_answer_path %>
</div>

